{% extends 'base.html' %}
{% block content %}
    <h1>Quiz: {{ quiz }}</h1>
    <p>
        This quiz has {{ number_of_questions }}
        {% if number_of_questions > 1 %}
            questions.
        {% else %}
            question.
        {% endif %}
    </p>
    <a class="btn btn-default" href="{% url 'quizzes:take-quiz' quiz.id %}">Take Quiz</a>
{% endblock %}