{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Welcome to the Quiz App!</h1>
        <h2>List of Quizzes:</h2>
        <ul>
            {% for quiz in quiz_list %}
                <li><a href="{{ quiz.get_absolute_url }}">{{ quiz }}</a></li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated %}
            <h2>Most recently taken quizzes:</h2>
            <ul>
                {% for quiz in user_quiz_list %}
                    <li><a href="{{ quiz.url }}">{{ quiz.quiz }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}