{% extends 'base.html' %}
{% block content %}
    <h1>Taking Quiz: {{ quiz }}</h1>
    <div class="container">
        <form method="post" action="{{ request_path }}">
            {% csrf_token %}
            {{ form.as_ul }}
            <button class="btn btn-default" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}