{% extends 'base.html' %}

{% block content %}
    <h2>Quiz Results: {{ quiz }}</h2>
    {% for result in results %}
        <div class="alert alert-{% if result.correct %}success{% else %}danger{% endif %}">Question: {{ result.question }}</div>
        <div>
            <p>Choices:</p>
            <ul>
                {% for choice in result.choices %}
                    <li>
                        {{ choice }}
                        {% if result.user_answer == choice %} - YOUR ANSWER{% endif %}
                    </li>
                {% endfor %}
            </ul>
            <p>Correct Answer: {{ result.correct_answer }}</p>
        </div>
    {% endfor %}
    <div>
        <h4>Your Score: {{ score }} out of {{ total_questions }} questions</h4>
    </div>

{% endblock %}
